<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <table>
    <tr>
      <th>UNPUBLISHED ARTICLES</th>
      <th>AUTHOR</th>
      <th>WORDS</th>
      <th>SUBMITTED</th>
    </tr>
    <tr>
      <td class="title"></td>
      <td class="author"></td>
      <td class="words"></td>
      <td class="submitted"></td>
    </tr>
  </table>
  <script src="../js/index.js"></script>
</body>
</html>