<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <table id="articles">
    <tr>
      <th colspan="2" id="updateArticlesNum">UNPUBLISHED ARTICLES</th>
      <th>AUTHOR</th>
      <th><a href="#" onclick="sortByWords()">WORDS</a></th>
      <th><a href="#" onclick="sortByTime()">SUBMITTED</a></th>
    </tr>
  </table>
  <div id="messageArea"><button id="load" onclick="loadMore()">Load More</button></div>
  <button id="scroll" onclick="scrollToTop()">&#8679;</button>
  <script src="../js/index.js"></script>
</body>
</html>