<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <table id="articles">
    <tr>
      <th>UNPUBLISHED ARTICLES</th>
      <th>AUTHOR</th>
      <th><a href="#" onclick="sortByWords()">WORDS</a></th>
      <th>SUBMITTED</th>
    </tr>
  </table>
  <button id="load" onclick="loadMore()">Load More</button>
  <p id="noMoreData"></p>
  <script src="../js/index.js"></script>
</body>
</html>