body {
  font-size: 14px;
}

table {
  border: 1px solid #D8D8D8;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%;
}
th {
  background: #862231;
  color: white;
  font-size: 14px;
  height: 60px;
}

th:first-child {
  text-align: left;
  padding-left: 20px;
}
th a {
  color: white;
  display: block;
  height: 100%;
  margin-top: 80px;
  text-decoration: none;
  width: 100%;
}

th a:visited {
  color: white;
  text-decoration: none;
}

tr {
  vertical-align: middle;
}

tr:nth-child(odd){
  background-color: #D8D8D8;
}

/*image*/
td:first-child {
  vertical-align: middle;
  width: 120px;
}

/*title*/
td:nth-child(2) a {
  color: black;
  text-decoration: none;
}
td:nth-child(2) a:visited {
  color: black;
}

/*author*/
td:nth-child(3) {
  text-align: center;
  width: 120px;
}

/*words*/
td:nth-child(4) {
  text-align: center;
  width: 120px;
}

/*submitted*/
td:nth-child(5) {
  text-align: center;
  width: 120px;
}

div {
  max-width: 1000px;
  width: 90%;
  /*margin: 0 auto;*/
  margin-left: 120px;
}

button:focus {
  outline: 0;
}

div > p {
  margin-left: 120px;
}

#messageArea {
  margin: 20px auto;
  margin-top: 20;
  color: grey;
  font-size: 16px;
}

#load {
  background-color: transparent;
  border: none;
  color: grey;
  height: 40px;
  font-size: 20px;
  margin-left: 120px;
}

#scroll {
  position:fixed;
  bottom: 22px;
  left: 5%;
  font-size: 30px;
  height: 40px;
  color: grey;
  background-color: transparent;
  border:none;
}