body {
  font-family: 'Droid Sans', sans-serif; 
}
table {
  border: 1px solid #edf0f5;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%;
  font-size:11px;
  border-collapse: collapse;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  display: block;
}

tr:first-child {
  border: 1px solid #388213;
}

th {
  background-color: #5A993B; 
  background: -webkit-linear-gradient(#6AA34E, #5A993B 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6AA34E, #5A993B 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6AA34E, #5A993B 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6AA34E, #5A993B 50%); /* Standard syntax */
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif; 
  height: 60px;
}

th:first-child {
  text-align: left;
  padding-left: 20px;
}
th a {
  color: white;
  display: block;
  height: 100%;
  margin-top: 80px;
  text-decoration: none;
  width: 100%;
}

th a:visited {
  color: white;
  text-decoration: none;
}

tr {
  vertical-align: middle;
}

tr:nth-child(odd){
  background-color: #edf0f5;
}

/*image*/
td:first-child {
  vertical-align: middle;
  padding-left: 20px;
  width: 120px;
}

/*title*/
td:nth-child(2) a {
  font-size:14px;
  color: black;
  text-decoration: none;
}
td:nth-child(2) a:visited {
  color: black;
}

/*author*/
td:nth-child(3) {
  text-align: center;
  width: 120px;
  font-size:12px;
}

/*words*/
td:nth-child(4) {
  text-align: center;
  width: 120px;
}

/*submitted*/
td:nth-child(5) {
  text-align: center;
  width: 120px;
}

div {
  max-width: 1000px;
  width: 90%;
  /*margin: 0 auto;*/
  margin-left: 140px;
}

button:focus {
  outline: 0;
}

div > p {
  margin-left: 140px;
}

#messageArea {
  margin: 20px auto;
  margin-top: 20;
  color: #AAACAF;
  font-size: 16px;
}

#load {
  background-color: transparent;
  border: none;
  color: #AAACAF;
  height: 40px;
  font-size: 20px;
  margin-left: 140px;
}

#scroll {
  visibility: hidden;
  position:fixed;
  bottom: 22px;
  left: 5%;
  font-size: 30px;
  height: 40px;
  color: #AAACAF;
  background-color: transparent;
  border:none;
}